.graphContainer{
    background-color: #E8E8E8;
    font-size: 18px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box{
    height: 100%;
}
.heading{
margin-left: 23px;
font-weight: bold;
}
.graph{
    width: 40%;
}
.graphBox{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
