.viewButton{
    font-size: 15px;
    background-color: rgba(0, 173, 253, 0.753);
    color: white;
    cursor: pointer;
    height: 30px;
    border: rgba(0, 173, 253, 0.753);
    width: 135px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 3px;
}
.viewButton:hover {
    background-color: rgb(255, 255, 255);
}