.navbar{
    background-color: rgb(255, 255, 255);
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    align-items: center;
    font-size: 22px;
    color: rgb(0, 162, 255);
    padding: 5px;
}
